pandas
flake8
omegaconf
jupyterlab
notebook
matplotlib
seaborn
tqdm
ipywidgets
scipy
wandb
tokenizers>=0.13.3
accelerate
ml_collections
torchmetrics
openai
tiktoken
einops
bitsandbytes
nltk
tenacity
sentencepiece
safetensors